/*Para que el contenido principal no supere la longitud de 700px */
@media (min-width: 750px) {
    #box-principal {
        max-width: 750px;
    }
}



/*Para Movil o menor a 700px desaparece el menu Vertical */
@media (max-width: 750px) {


    .home-section {
        width: 100%;
        right: 100%;
    }



    /*Muestra diferente resultado para movil (Lazy) y color antes de cargar imagen 
    quitado porque solo queda en tamaño fijo
    .img {
        z-index: -1;
        display: block;
        width: 340px;
        background-color: rgb(214, 214, 214);
        height: 210px;
        margin-bottom: 20px;
    } */
}


html {
    background-color: #E4E9F7;
}


/*Sombreado y fondo*/
#box-principal {
    margin-bottom: 30px;
    background: #1f1d33f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: aqua;
}




.img-fluid {
    margin: 8px;
    padding: 2px;
    border-radius: 10px;
    background-color: #000;
    display:block;
    margin:auto;
}

.container .row .col .img-fluid {
    width: 200px;
    min-height: 90px;
}

.container {
    position: relative;
    background-color: whitesmoke;
    width: 700px;
    margin: 0 auto;
    padding: 1em;
}


#columna {
    font-weight: 700;
    font-size: 18px;
    color: #A3AE6E;
    align-self: center;
    text-shadow: 0px 1px 1px #3f3d3d;


}



.nombre_categoria {
    position: relative;
    top: -20px;
    float: right;
    right: 10px;
    background-color: #7c8553;
    color: #fff;
    font-size: 13px;
    text-decoration: solid;
    display: unset;
    padding: 10px;
    border-radius: 5px;
}

.nombre_categoria:hover {
    color: #fff;
    background-color: #0d6efd;
}


.nombre_diario {
    position: relative;
    top: -20px;
    float: right;
    right: 30px;
    background-color: #A3AE6E;
    color: #fff;
    font-size: 13px;
    text-decoration: solid;
    display: unset;
    padding: 10px;
    border-radius: 5px;
}


.nombre_diario:hover {
    color: #fff;
    background-color: #0d6efd;
}





.modal-footerDos{
    background: #1f1d33f2;
    justify-content: left;
    padding: 10px;
}


/* comienzan estilos dinamicos si es disposivo movil*/
@media (max-width: 750px) {
    .nombre_diario{
        font-size: 10px;
        top: 0px;
    }
    .nombre_categoria{
        font-size: 10px;
        top: 0px;
    }
}


.modal-body {

    background: #1f1d33f2;
}

.modal-header {
    
    background: #1f1d33f2;
}



img {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
}


.espaciado-false{
    display: none;
}

.barra {

    text-align: center;
    color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    background: #11101D;
    margin: 5px 5px 0px 0px;
    border-radius: 30px;
}



iframe{
    width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Finalizan estilos dinamicos si es disposivo movil*/





 /* Comienza lo de facebook
 .s es para que no se vean los iconos grandes sin sentido en el modal
 True son los estilos dinamicos

 */

 .s{
    display: none;
}


#centenido-true-true{
    display: none;
}

#imagen-true{
    display: none;
}


.link_face{
    color: rgb(191, 218, 179);
}

.link_facebook{
    color: rgb(191, 218, 179);
    float: right;
}



